{
    "extends": "airbnb-base",
    "env": {
        "node":true,
        "es6": true
    },
    "rules": {
        // rule overrides
        "no-unused-vars": 0,
        "comma-dangle": 0,
        "object-curly-spacing": "off",
        "arrow-body-style": "off",
        "no-multi-assign": "off",
        "padded-blocks": "off",
        "function-paren-newline": ["error", "consistent"],
        "no-console":"off"
    }
}